html, body{
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}

div#wrapper {
    background-color: #BDBDBD;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header, footer, nav, aside, section {
    margin: 0 auto;
}

header {
    width: 100%;
    height: 15%;
    background-color: #FE9A2E;
}
nav, section, aside {
    float: left;
}

nav {
    width: 14%;
    height: 80%;

}

div#nav {
    padding-top: 10px;
    padding-left: 15px;
    width: 90%;
    height: 98%;

}

section {
    background-color: white;
    width: 49%;
    height: 80%;

}

aside {
    background-color: white;
    width: 37%;
    height: 80%;

}


footer {
    background-color: white;
    width: 100%;
    height: 5%;
    background-color: red;
    position: relative;
    clear: both;

}


.navbar-nav > li{
    color: red;
    padding-left:60px;
    padding-right:60px;
}

.navbar-default {
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

